# node_modules directory
node_modules/

# npm-debug/yarn-debug logs
npm-debug.log
yarn-debug.log

# .tsbuildinfo file
.tsbuildinfo

# Generated code coverage files
coverage/*

# Cache files from testing, npm, linters, bundlers, etc.
.cache/
.nyc_output/
.testresults/
.nyc_output/

# .env files and local secrets
#.env
.env.local
.env.development
.env.production
# Other local secrets

# Machine specific configuration
.DS_Store
.idea/
.vscode/

# Built files
build/
dist/

# IDE temp files
.history/
.idea/workspace.xml
.vscode/

# Other files to ignore